<div class="well">

  <div class="row">
    <div class="col-xs-6">
      <h4><%= service.title %></h4>
      <h6><%= service.content %></h6>
    </div>

    <div class="col-xs-6">
      <div class="prix">
        <%= form_for service, url: cart_cart_items_path, method: :post, remote: true do |f| %>
        <h4 class="text-right">
          <span style="color: #EE5F5B"><%= number_to_currency service.price %></span>
        </h4>

        <%= f.hidden_field :service_id, value: service.id %>
        <%= f.submit "Reservez", class: "btn btn-primary", id:"resabtn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
