<h2>Sign up</h2>

<div class="row">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class = "col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 form-restroom" >

    <%= f.fields_for :profils do |p| %>

    <div class="field">
    <%= p.label :first_name%>
     <%= p.text_field :first_name%>
    </div>

    <div class="field">
      <%= p.label :last_name %>
      <%= p.text_field :last_name%>
    </div>
    <div class="field">
      <%= p.label :picture %>
      <%= p.text_field :picture%>
    </div>

    <div class="field">
      <%= p.label :address %>
      <%= p.text_field :address%>
    </div>

    <% end %>


    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>


    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>


