

<div class="container">
  <div class="row">
   <div class="col-xs-12 col-sm-6  col-sm-offset-3 col-md-6 col-md-offset-3">

     <div class="login">
     <div class="formulaire">
     <h2>Renvoyer les instructions de déverouillage</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Me renvoyer les instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
