<nav class="[ navbar navbar-fixed-top ][ navbar-bootsnipp animate ]" role="navigation">
  <div class="[ container ]">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="[ navbar-header ]">
      <button type="button" class="[ navbar-toggle ]" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="[ sr-only ]">Toggle navigation</span>
        <span class="icon-bar" style="background-color: gray;" ></span>
        <span class="icon-bar" style="background-color: gray;"></span>
        <span class="icon-bar" style="background-color: gray;"></span>
      </button>
      <div class="[ animbrand ]">
        <%=link_to "Alfred", root_path, class: "[ navbar-brand ][ animate ]"%>

        <!--   <a class="[ navbar-brand ][ animate ]" href="#">Alfred</a> -->
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
      <ul class="[ nav navbar-nav navbar-right ]">



        <li><a href="/#section1" class="[ animate ] scroll-down">Comment ça marche ?</a></li>

        <% if user_signed_in? %>
        <li>
          <a href="#" class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">Profil <span class="[ caret ]"></span></a>
          <ul class="[ dropdown-menu ]" role="menu">
            <li> <%= link_to "Mon Compte", account_path%></li>
            <!-- <li>
              <a href="#" class="[ animate ]">Mes réservations</a>
            </li> -->
            <li><%= link_to t('.sign_out', default: 'Se déconnecter'), destroy_user_session_path, method: :delete %></li>
          </ul>
          <% else %>
          <li><%= link_to t(".sign_in", default: "Connexion"), new_user_session_path%></li>
          <%end%>
        </li>

      <% if current_order.id %>
        <li class="cart-text-hitbox">
          <%= render 'layouts/cart_text' %>
        </li>
      <% end %>


      </form>
    </div>
  </div>
</nav>
